@model StudentViewModel

@{
    ViewData["Title"] = "Add Student";
}

<div class="cstm-page-title">
    <div class="header-icon">
        <i class="bi bi-person"></i>
        Student
    </div>
    <div class="description">
        In this page you can see all the information of student stored in database.
    </div>
</div>
