header{
    padding: 10px;
}
nav {
    width: 450px;
}
main {
    width: 100%;
}

.cstm-container {
    display:inline-flex;
}
.cstm-sidebar {
    list-style: none;
    padding: 10px;
}
.cstm-sidebar a {
    display: flex;
    width: 100%;
    margin-bottom: 3px;
    padding: 7px 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.cstm-sidebar a i {
    margin-right: 10px;
}
.cstm-sidebar a:hover {
    background-color: whitesmoke;
}

