header{
    height: 60px;
    border-bottom: 1px solid gainsboro;
}
nav {
    width: 300px;
}
main {
    padding: 10px 20px;
    width: 100%;
}

.cstm-container {
    display:inline-flex;
    width: 100%;
}
.cstm-sidebar {
    list-style: none;
    padding: 10px 0px;
}
.cstm-sidebar a {
    display: flex;
    width: 100%;
    margin-bottom: 3px;
    padding: 7px 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.cstm-sidebar a i {
    margin-right: 15px;
}
.cstm-sidebar a:hover {
    background-color: whitesmoke;
}

.cstm-page-title {
    width: 100%;
    margin-bottom: 10px;
}
.cstm-page-title .header-icon {
    font-size: 20px;
    font-weight: 400;
}
.cstm-page-title .header-icon i {
    margin-right: 5px;
}
.cstm-page-title .description {
    margin-top: -3px;
    font-size: 12px;
}

.cstm-table {
    width: 100%;
    font-size: 14px;
}
.cstm-table th {
    border-bottom: 1px solid dimgray;
    padding: 10px 5px;
}
.cstm-table td {
    border-bottom: 1px solid gainsboro;
    padding: 7px 5px;
}

.cstm-badge {
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 3px;
}

.status-0 {
    background-color: #27ae60;
    color: white;
}
.status-1 {
    background-color: #c0392b;
    color: white;
}
.status-2 {
    background-color: #7f8c8d;
    color: white;
}

.type-0 {
    background-color: #2980b9;
    color: white;
}
.type-1 {
    background-color: #2c3e50;
    color: white;
}