<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STI - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/STI.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    </header>
    <div class="cstm-container">
        <nav>
            <ul class="cstm-sidebar">
                <li>
                    <a asp-area="" asp-controller="Student" asp-action="">
                        <i class="bi bi-speedometer"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Student" asp-action="">
                        <i class="bi bi-people"></i>
                        Students
                    </a>
                </li>
            </ul>
        </nav>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
